.one{
    height:200px;
    background-color: brown;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}
.two{
    height:200px;
    background-color: chocolate;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}